<div>
<table align="center">
    <tr>
        <td align="center"><a href="autor"><img src="assets/iconos/v2/autor.png"></a></td>
        <td></td>
        <td align="center"><a href="libro"><img src="assets/iconos/v2/libro.jpg"></a></td>
    </tr>
    <tr>
        <td align="center">Libros por autor<br></td>
        <td></td>
        <td align="center">Libros por título<br></td>
    </tr>
    <tr>
        <td></td>
        <td align="center"><br><a href="autores"><img src="assets/iconos/v2/autores.png"/></a></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td align="center">Autores</td>
        <td></td>
    </tr>
    <tr>
        <td align="center"><a href="presentacion"><img src="assets/iconos/v2/presentacion.png"></a></td>
        <td></td>
        <td align="center"><a href="orientacion"><img src="assets/iconos/v2/orientacion.png"></a></td>
    </tr>
    <tr>
        <td align="center">Presentación</td>
        <td></td>
        <td align="center">Orientación</td>
    </tr>
</table>
</div>