<h2>Presentación</h2>

<br>
<p>Desde que surgieron los medios electrónicos muchos vaticinaron que sería el fin del libro. 
    Ha transcurrido el tiempo y sin embargo el libro en soporte papel continúa existiendo, y mantiene
    su lugar en la cultura material creada por la humanidad.</p>
<p>El soporte electrónico para la literatura no busca sustituir al libro en soporte papel, 
    ambos tienen un lugar en la vida de los hombres.</p>
<p>Aunque los dos se atienen al principio de la lectura, pueden coexistir y de hecho coexisten en la sociedad
    moderna. Puede que, nacido después, el soporte electrónico le haga más expedito el camino al libro impreso,
    pues el lector irá del acceso a la gran información al diálogo íntimo, sugestivo y creativo que establece
    el lector con la página de papel.
</p>
<p>La <b>Biblioteca Electrónica Digital, Clásicos de la Literatura Juvenil</b> presenta un conjunto de autores 
y obras que, sin agotar el tema, facilitan a los lectores un panorama de la literatura.</p>
<p>Esta Biblioteca Electrónica Digital iniciará al joven en el conocimiento de autores, libros, y lo familiarizará
    con la vida de estos. Ampliará su vocabulario y sobre todo será un magnífico auxiliar para bibliotecarios,
    maestros y promotores de lectura, desbrozará el camino para que el joven llegue al libro, a todos los libros.
 </p>
<br>
<a href="home" text-align="center"><h3>Volver</h3></a>

