<h1>Orientación a Padres y Maestros</h1>
<p>
La serie Biblioteca Electrónica Digital, ofrece a niños y niñas la posibilidad de llegar a lo más clásico de la Literatura Universal de una manera fácil y amena. Tanto para cumplir las actividades que emanan del aula como para satisfacer el propio placer de leer, el estudiante tiene en sus manos un material que además de instruirlo, le favorece su acercamiento a la lectura, a la escritura, al dominio de la ortografía, a conocer al autor, su obra y su entorno y hacer pequeñas valoraciones literarias de la obra en cuestión.
A la par que se entretienen con el programa, realizan otras actividades como son el manejo, organización  y aprehensión de la información con su correspondiente interpretación personal.
Esta Biblioteca Electrónica Digital permite:
Leer el cuento
Conocer una ficha del autor.
Valorar un breve comentario sobre el autor, su obra y el entorno en el cual se concibió.
Dominar el análisis literario de las obras más importantes de dicho autor, así como su estilo personal, 
características formales y otros aspectos de carácter técnico.
</p>
<br>
<a href="home" text-align="center"><h3>Volver</h3></a>